<div
    class="card"
    *ngIf="{ timer: timer$ | async } as componentData">
    <div class="header">
        <h1 class="title">Flight Typeahead</h1>
    </div>

    <div class="content">
        <div class="form-group">
            <label>Timer</label>
            <input [formControl]="timerControl" type="text" class="form-control">
            <!-- {{ componentData.timer }} -->
        </div>

        <div class="form-group">
            <label>Typeahead</label>
            <input [formControl]="typeaheadControl" type="text" class="form-control">
        </div>
        
        <div class="form-group">
            <label>Option (selected: {{ selectedOption }})</label>
            <select
                class="form-control"
                [(ngModel)]="selectedOption">
                <option
                    *ngFor="let option of options"
                    [ngValue]="option.id">
                    {{ option.value }}
                </option>
            </select>
        </div>
    </div>
</div>

<div class="card"
    *ngIf="flights$ | async as flights">
    <table
        class="table table-contensed"
        *ngIf="flights?.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>From</th>
                <th>To</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let f of flights">
                <td>{{f.id}}</td>
                <td>{{f.from }}</td>
                <td>{{f.to }}</td>
                <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
            </tr>
        </tbody>
     </table>
</div>
