<div class="card">
  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>  

  <div class="content">
    <form #f="ngForm">
      <div class="form-group">
        <label for="from">From</label>
        <input class="form-control" name="from" [(ngModel)]="from" required />
        <pre *ngIf="f?.controls?.from?.hasError('required')">Pflichtfeld</pre>
      </div>
      <div class="form-group">
        <label for="to">To</label>
        <input class="form-control" name="to" [(ngModel)]="to" required />
        <pre *ngIf="f?.controls?.to?.hasError('required')">Pflichtfeld</pre>
      </div>
      <div class="form-group">
        <button [disabled]="!f?.valid" (click)="search()" class="btn btn-default">
          Search
        </button>
      </div>
    </form>
  </div>

</div>

<div class="row">
  <div
    *ngFor="let flight of flights"
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <app-flight-card
        [item]="flight"
        [selected]="basket[flight.id]"
        (selectedChange)="basket[flight.id] = $event">
      </app-flight-card>
  </div>
</div>

<div>
  <pre class="jumbotron">
    {{basket | json}}
  </pre>
</div>